
.banner {
    object-fit: contain;
    background-size: cover;
    width: 100%;
    height: 65vh;
    position: relative;
    color: white;
    
}


.banner__contents{
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
    
    
   
}

.banner__title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
    width: 460px;
}


.banner__description {
    width: 25em;
    line-height: 1.2;
    padding-top: 5px;
    height: 150px;
    font-size: 0.8rem;
    
    display: flex;
    flex-direction: column;
    
}

.banner__fadebottom{
    position: relative;
    height: 44.81vh;
    background-image: linear-gradient(180deg,transparent,rgba(37,37,37,0.61),#111);
}


  

.banner__button{
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
   width: 85px;
   height: 30px;
   background-color: rgba(51,51,51,0.5);
    border-radius: 0.2vw;
    align-items: center;
    display: flex;
    justify-content: center;
   
   
   
}

.banner__buttons{
    display: flex;
    width: 220px;
    
    height: 40px;
    justify-content: space-between;
}


.banner__button:hover{
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.2s;
}